@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

header {
	margin-bottom: func.em(42, var.$font-size-primary);
}

header h1 {
	font-size: inherit;
	text-align: center;
}

#logo {
	display: block;
	width: func.em(60, var.$font-size-primary);
	height: func.em(18, var.$font-size-primary);
	margin: 0 auto;
	background: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
}
